/*Navbar*/
nav {
    display: inline-block;
    background-color: #7f7f7f;
    width: 1920px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 10px;
    border-width: 0 0 2px;
    border-style: solid;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}
li a {
    display: block;
    padding: 10px 30px;
    border-right-style: solid;
    border-right-width: 2px;
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;
    font-size: large;
}
.active {
    background-color: #682D34;
}
li a:hover:not(.active) {
    background-color: #7f7f7f;
}
/*Main*/
.banner {
    margin: auto;
}
.preview {
    background-color: white;
    color: black;
    height: 300px;
    width: 500px;
    margin: 20px auto;
    border: 5px;
    border-style: groove;
    border-color: #9A2A33;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.playButton {
    border-radius: 100%;
    border-style: solid;
    height: 30px;
    width: 30px;
    transition-duration: 0.4s;
    background-color: transparent;
}
.playButton:hover {
    background-color: rgb(188, 188, 188);
    color: white;
}
.text {
    margin: 30px;
    margin-top: 60px;
}
.floatRight {
    text-align: right;
    margin: 0 20px;
}
main {
    width: 1000px;
    min-width: 100px;
    margin: auto;
    padding:32px 0;
    background-color: black;
}
body {
    background-color: #682D34;
    color: #B4EC51;
}
/*About*/
.portrait {
    height: 350px;
    margin: 20px;
    width: auto;
    float: left;
}
.right {
    margin: 0 0 0 415px;
    height: 350px;
    width: 500px;
}
.contact {
    height: 100px;
    width: 200px;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #B4EC51;
    border-radius: 10%;
    padding: 10px 15px 15px;
    background-color: white;
    color: black;
    text-align: center;
}